<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list - Your tasks</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/generic-classes.css">
    <link rel="stylesheet" href="../assets/css/thames-classes.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body class="bg-secondary light">

    <div id="conteiner">

        <header class="d-flex justify-content-center">
            <form method="POST" action="/task/add" id="form-new-task" class="d-flex align-items-center bg-primary light">
                <input name="description" type="text" placeholder="Write a new task" id="description-new-task">

                <div id="actions-form" class="d-flex align-items-center">
                    <select name="category" class="bg-secondary light">
                        <option value="true" selected>Personal</option>
                        <option value="false">Work</option>
                    </select>

                    <button type="submit" class="bg-secondary light"><i class="uil uil-plus"></i></button>
                </div>
            </form>

            <button class="d-flex justify-content-center align-items-center bg-primary light" id="change-thame"><i class="uil uil-moon"></i>
        </header>

        
    </div>

    <script src="../assets/js/interface.js"></script>

</body>

</html>